In [1]:
import pandas as pd
import numpy as np
import pylab as pl

from sklearn import linear_model
from sklearn.linear_model import LogisticRegression, RidgeClassifierCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
from sklearn.base import BaseEstimator

import os
import json

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
a = pd.read_csv('Wave1transactions5years.csv')

In [3]:
b = pd.read_csv('Wave1transactions.csv')

In [4]:
transdata = pd.merge(a, b, on="ID_TRANS", copy=True)

In [5]:
transdata.describe()

,ID_TRANS,ID_INTERNAL,CD_TYPE_ACCT_x,AM_TOT_COLL_EFFECT,AM_TOT_LIAB_EFFECT,CD_TYPE_TRANS,QT_ASSESSMENT,yearprocess,CD_TYPE_ACCT_y,yearProcess
count,5.217871e+06,5.217871e+06,5217871.000000,5.217871e+06,5.217871e+06,5217871.000000,5217871.000000,5217871.000000,5217871.000000,5217871.000000
mean,6.895348e+11,3.519308e+11,214.895673,1.826955e+03,1.244284e+03,232.150455,1.020504,2011.996132,214.907011,2011.996177
std,3.620579e+11,2.098554e+11,43.000523,3.030022e+05,1.832981e+06,143.781931,0.340933,0.863036,43.036217,0.860265
min,0.000000e+00,4.000000e+02,10.000000,-1.006401e+08,-2.383994e+09,33.000000,0.000000,2010.000000,10.000000,2011.000000
25%,1.712102e+11,1.700133e+11,200.000000,0.000000e+00,0.000000e+00,111.000000,1.000000,2011.000000,200.000000,2011.000000
50%,9.311091e+11,3.500119e+11,200.000000,0.000000e+00,0.000000e+00,207.000000,1.000000,2012.000000,200.000000,2012.000000
75%,9.313785e+11,5.300111e+11,200.000000,2.500000e+01,9.000000e-02,225.000000,1.000000,2013.000000,200.000000,2013.000000
max,9.999008e+11,9.900431e+11,320.000000,1.434230e+08,2.383994e+09,803.000000,11.000000,2015.000000,330.000000,2015.000000

In [6]:
transdata.dtypes

ID_TRANS                int64
ID_INTERNAL             int64
CD_TYPE_ACCT_x          int64
DT_PROCESS             object
DT_IN                  object
AM_TOT_COLL_EFFECT    float64
AM_TOT_LIAB_EFFECT    float64
CD_TYPE_TRANS           int64
QT_ASSESSMENT           int64
ID_ACCT                object
yearprocess             int64
CD_TYPE_ACCT_y          int64
DT_PD_ACCT_BEGIN       object
DT_PD_ACCT_END         object
yearProcess             int64
dtype: object

In [7]:
transdata['DT_IN'] = pd.to_datetime(transdata['DT_IN'])

In [8]:
transdata['DT_PROCESS'] = pd.to_datetime(transdata['DT_PROCESS'])

In [9]:
# Create unique receivable id
# I can create the key while converting int values to string (object) values
transdata['RecKey'] = transdata.ID_INTERNAL.map(str) + transdata.CD_TYPE_ACCT_x.map(str) + transdata.ID_ACCT + transdata.QT_ASSESSMENT.map(str) + transdata.DT_PD_ACCT_BEGIN

In [85]:
#849,106, receivables
print transdata.groupby('yearProcess').ID_INTERNAL.nunique()

yearProcess
2011    274009
2012    271682
2013    265854
2014     37162
2015       399
Name: ID_INTERNAL, dtype: int64

In [11]:
print transdata.groupby('CD_TYPE_TRANS').ID_INTERNAL.nunique()

CD_TYPE_TRANS
33         27
100     31715
101    254417
102      5436
103       871
104      5062
105     80355
106      6452
107    180156
108      1495
109       490
110     70733
111    115553
112      3378
113    263565
180        47
181         2
200     31735
201     31184
202     79864
203         5
204     40141
205       688
206     74080
207    180347
208      1527
209       520
210     70881
211    115810
212      3400
        ...
422     13976
423       361
501      6704
502      1133
503       831
504       167
505       541
507        41
510    242617
511     45400
512      2954
513        39
515       402
516       567
520       213
601      1893
602        24
603       927
604      5215
605     19431
607      6138
608       698
613        30
614       646
625        22
626       648
627         4
801      9935
802      6265
803       139
Name: ID_INTERNAL, dtype: int64

In [12]:
# Factors I want to use: 
# Industry - not in this datatset
# Net Income - not in this dataset
# Years in business - not in this dataset
# cancellation (611 collection cancellation, 612 liability cancellation) - not any occurances in dataset so discarding
# Delinquent or Non-Filer history (505, 506) - not many occurances in data set so discarding


# Tax Type
# Filing method
# Amount Due - categories up to 5k, 5 to 50K, 50 to 100k, 100 to 500k (match gct min tax categories)
# Payment types (estimated, bill, return, credit) 201, 202, 207, 208, 209, 210, 211, 212, 225, 226, 227
# Adjustments - line item adjustments (501, 502, 504, 510, 511 (512, 513) indate adjustments - 601, 602, 603, 607 )
# Previous notice (tax due 306/401)
# Collections to date ($) - AM_TOT_COLL_EFFECT    


# payments made after notice date notice is transaction 401

In [13]:
transdata["filingmethod"] = transdata["ID_TRANS"].map(lambda x: str(x)[:5])

In [14]:
#add the filing method feature for each receivable
#create a df with filing method feature for each receivable
filingtypes = transdata[transdata["CD_TYPE_TRANS"].isin([101,102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112])]

In [15]:
# add tax type feature for each receivable
transdata['10'] = transdata["CD_TYPE_ACCT_x"].isin([10])
transdata['200'] = transdata["CD_TYPE_ACCT_x"].isin([200])
transdata['320'] = transdata["CD_TYPE_ACCT_x"].isin([320])
transdata['330'] = transdata["CD_TYPE_ACCT_x"].isin([330])

In [16]:
# Create a df for total liabilities and collections, delete unneeded columns, 
# add the amount cat feature for each receivable, 

transdatasum = transdata.groupby(['RecKey']).sum().reset_index()

In [ ]:
transdatasum.dtypes

In [17]:
del transdatasum['CD_TYPE_ACCT_x']

In [18]:
del transdatasum['QT_ASSESSMENT']

In [19]:
del transdatasum['yearprocess']

In [20]:
del transdatasum['CD_TYPE_ACCT_y']

In [21]:
del transdatasum['yearProcess']

In [22]:
del transdatasum['ID_INTERNAL']

In [23]:
del transdatasum['ID_TRANS']

In [24]:
transdatasum['500KOver'] = transdatasum["AM_TOT_LIAB_EFFECT"].map(lambda x: 1 if x >= 500000 else 0)
transdatasum['100to500K'] = transdatasum["AM_TOT_LIAB_EFFECT"].map(lambda x: 1 if 100000 < x <= 500000 else 0)
transdatasum['50to100K'] = transdatasum["AM_TOT_LIAB_EFFECT"].map(lambda x: 1 if 50000 < x <= 100000 else 0)
transdatasum['5to50k'] = transdatasum["AM_TOT_LIAB_EFFECT"].map(lambda x: 1 if 5000 < x <= 50000 else 0)
transdatasum['5kUnder'] = transdatasum["AM_TOT_LIAB_EFFECT"].map(lambda x: 1 if x <= 5000 else 0)

In [25]:
transdatasum.dtypes

RecKey                 object
AM_TOT_COLL_EFFECT    float64
AM_TOT_LIAB_EFFECT    float64
CD_TYPE_TRANS           int64
10                    float64
200                   float64
320                   float64
330                   float64
500KOver                int64
100to500K               int64
50to100K                int64
5to50k                  int64
5kUnder                 int64
dtype: object

In [26]:
# Create a df for total collections, add the amount cat feature for %paid
transdatasum['PPaid'] = transdatasum['AM_TOT_COLL_EFFECT']/transdatasum['AM_TOT_LIAB_EFFECT']

In [27]:
transdatasum['Balance'] = transdatasum['AM_TOT_LIAB_EFFECT']-transdatasum['AM_TOT_COLL_EFFECT']

In [42]:
transdata['PPaid'] = transdatasum['PPaid']
transdata['Balance'] = transdatasum['Balance']

In [48]:
transdata.head()

,ID_TRANS,ID_INTERNAL,CD_TYPE_ACCT_x,DT_PROCESS,DT_IN,AM_TOT_COLL_EFFECT,AM_TOT_LIAB_EFFECT,CD_TYPE_TRANS,QT_ASSESSMENT,ID_ACCT,...,RecKey,filingmethod,10,200,320,330,adj,PPaid,Balance,noticed
0,931384603240,40027269604,320,2013-11-02,2013-10-15,0,22.15,401,1,,...,40027269604320 12012-01-01,93138,False,False,True,False,NaN,NaN,0.00,2013-11-02
1,931384558414,20025536902,320,2013-11-02,2013-10-07,0,614.45,401,1,,...,20025536902320 12012-01-01,93138,False,False,True,False,NaN,-0.170172,3500.84,2013-11-02
2,931384558415,20025536902,320,2013-11-02,2013-10-07,0,318.35,401,1,,...,20025536902320 12011-01-01,93138,False,False,True,False,NaN,1.000000,0.00,2013-11-02
3,931384760657,40027460804,320,2013-11-02,2013-10-25,0,0.00,401,1,,...,40027460804320 12012-01-01,93138,False,False,True,False,NaN,1.000251,-0.91,2013-11-02
4,931384803492,40022234004,200,2013-11-02,2013-11-06,0,90.68,403,1,,...,40022234004200 12012-01-01,93138,False,True,False,False,NaN,-32.240000,831.00,NaT

In [28]:
# Create a df with adjustments made 
adjhist = transdata[transdata["CD_TYPE_TRANS"].isin([501, 502, 504, 510, 511, 512, 513, 601, 602, 603, 607])]

In [37]:
# Add an ADJ feature to transdata
transdata['adj'] = adjhist['CD_TYPE_TRANS'] >0

In [46]:
#create a df with the notice of tax due date for each receivable
# how to indicate current vs previous (balance=0?)
noticedreceivables = transdata[transdata["CD_TYPE_TRANS"].isin([401])]

In [57]:
#notice and demand
nd = transdata[transdata["CD_TYPE_TRANS"].isin([403])]

In [59]:
nd.groupby('yearProcess').RecKey.nunique()

yearProcess
2011    35522
2012    34085
2013    28912
2014     2344
2015       53
Name: RecKey, dtype: int64

In [83]:
balance = noticedreceivables[noticedreceivables["PPaid"] >0]

In [79]:
balance.describe()

,ID_TRANS,ID_INTERNAL,CD_TYPE_ACCT_x,AM_TOT_COLL_EFFECT,AM_TOT_LIAB_EFFECT,CD_TYPE_TRANS,QT_ASSESSMENT,yearprocess,CD_TYPE_ACCT_y,yearProcess,10,200,320,330,PPaid,Balance
count,2.824540e+05,2.824540e+05,282454.000000,282454.000000,282454.000000,282454.000000,282454.000000,282454.000000,282454.000000,282454.000000,282454,282454,282454,282454,2.824540e+05,2.824540e+05
mean,6.863759e+11,7.145545e+10,215.479724,1639.986638,1257.525587,232.262910,1.024542,2011.988320,215.473493,2011.987747,0.003678475,0.8614996,0.134822,0,-inf,1.889170e+04
std,3.611602e+11,8.612086e+10,42.832391,153588.062821,129573.816248,144.034673,0.368860,0.849134,42.915797,0.845386,0.06053889,0.3454251,0.3415339,0,NaN,7.779248e+05
min,0.000000e+00,2.800000e+03,10.000000,-30094873.690000,-25740627.090000,33.000000,0.000000,2010.000000,10.000000,2011.000000,False,False,False,False,-inf,3.469447e-18
25%,1.712102e+11,3.001005e+10,200.000000,0.000000,0.000000,111.000000,1.000000,2011.000000,200.000000,2011.000000,0,1,0,0,-5.785441e-02,5.900000e-01
50%,9.212022e+11,6.001351e+10,200.000000,0.000000,0.000000,207.000000,1.000000,2012.000000,200.000000,2012.000000,0,1,0,0,4.216408e-01,1.098400e+02
75%,9.313647e+11,9.002110e+10,200.000000,25.000000,0.090000,225.000000,1.000000,2013.000000,200.000000,2013.000000,0,1,0,0,9.956008e-01,1.500370e+03
max,9.999008e+11,9.900326e+11,320.000000,28527682.000000,28472345.750000,803.000000,8.000000,2015.000000,330.000000,2015.000000,True,True,True,False,7.895030e+16,1.735329e+08

In [84]:
balance.groupby('yearProcess').RecKey.nunique()

yearProcess
2011    6362
2012    6867
2013    6299
2014     275
2015       5
Name: RecKey, dtype: int64

In [66]:
warrant = transdata[transdata["CD_TYPE_TRANS"].isin([422])]

In [67]:
warrant.groupby('yearProcess').RecKey.nunique()

yearProcess
2011     2092
2012     2267
2013    12003
2014     1024
2015       24
Name: RecKey, dtype: int64

In [58]:
nd.describe()

,ID_TRANS,ID_INTERNAL,CD_TYPE_ACCT_x,AM_TOT_COLL_EFFECT,AM_TOT_LIAB_EFFECT,CD_TYPE_TRANS,QT_ASSESSMENT,yearprocess,CD_TYPE_ACCT_y,yearProcess,10,200,320,330,PPaid,Balance
count,1.543820e+05,1.543820e+05,154382.000000,154382,154382.000000,154382,154382.000000,154382.000000,154382.000000,154382.000000,154382,154382,154382,154382,2.370300e+04,2.822500e+04
mean,9.301291e+11,3.488575e+11,205.387027,0,34.821088,403,1.029518,2011.985128,205.387027,2011.985128,0.001982096,0.9499877,0.04803021,0,NaN,1.579502e+03
std,4.112596e+09,2.098420e+11,27.095635,0,1235.868330,0,0.211786,0.834168,27.095635,0.834168,0.04447674,0.2179711,0.2138308,0,NaN,1.041339e+06
min,9.011020e+11,3.000000e+03,10.000000,0,-15949.100000,403,1.000000,2011.000000,10.000000,2011.000000,False,False,False,False,-inf,-8.629239e+07
25%,9.311190e+11,1.700002e+11,200.000000,0,0.020000,403,1.000000,2011.000000,200.000000,2011.000000,0,1,0,0,9.668109e-01,0.000000e+00
50%,9.312462e+11,3.500121e+11,200.000000,0,0.350000,403,1.000000,2012.000000,200.000000,2012.000000,0,1,0,0,1.000000e+00,0.000000e+00
75%,9.313649e+11,5.300121e+11,200.000000,0,2.720000,403,1.000000,2013.000000,200.000000,2013.000000,0,1,0,0,1.000015e+00,1.800000e-01
max,9.913022e+11,9.900412e+11,320.000000,0,240098.040000,403,8.000000,2015.000000,320.000000,2015.000000,True,True,True,False,inf,1.458422e+08

In [47]:
transdata['noticed'] = noticedreceivables['DT_PROCESS']

In [50]:
#create a df with payments 
paymenttypes = transdata[transdata["CD_TYPE_TRANS"].isin([210,211,207,201,227,225,209,212,208,202,226])]

In [51]:
transdata['pay'] = paymenttypes['DT_IN']

In [53]:
len(transdata)

5217871

In [ ]:
# Payments made after notice date?
# I want the max DT_IN by RecKey in paymenttypes
# I want the earliers DT_PROCESS by RecKey in noticedreceivables
# merge on RecKey
# create column with true false DT_IN>DT_PROCESS (payment came after notice)

In [55]:
noticedreceivables.describe()

,ID_TRANS,ID_INTERNAL,CD_TYPE_ACCT_x,AM_TOT_COLL_EFFECT,AM_TOT_LIAB_EFFECT,CD_TYPE_TRANS,QT_ASSESSMENT,yearprocess,CD_TYPE_ACCT_y,yearProcess,10,200,320,330,PPaid,Balance
count,1.584460e+05,1.584460e+05,158446.000000,158446,158446.000000,158446,158446.000000,158446.000000,158446.000000,158446.000000,158446,158446,158446,158446,2.412300e+04,2.882800e+04
mean,9.307041e+11,3.493665e+11,206.874014,0,22.031532,401,1.022588,2012.027732,206.874014,2012.027732,0.001640938,0.9384775,0.0598816,0,NaN,6.348620e+03
std,8.654018e+09,2.078582e+11,29.568333,0,904.672871,0,0.178106,0.841656,29.568333,0.841656,0.04047537,0.2402871,0.2372681,0,NaN,9.633712e+05
min,9.010019e+11,3.000000e+03,10.000000,0,-76850.170000,401,1.000000,2011.000000,10.000000,2011.000000,False,False,False,False,-inf,-3.157243e+07
25%,9.311186e+11,1.700122e+11,200.000000,0,0.010000,401,1.000000,2011.000000,200.000000,2011.000000,0,1,0,0,9.696415e-01,0.000000e+00
50%,9.312466e+11,3.500113e+11,200.000000,0,0.130000,401,1.000000,2012.000000,200.000000,2012.000000,0,1,0,0,1.000000e+00,0.000000e+00
75%,9.313649e+11,5.300112e+11,200.000000,0,1.220000,401,1.000000,2013.000000,200.000000,2013.000000,0,1,0,0,1.000014e+00,1.500000e-01
max,9.914023e+11,9.900426e+11,320.000000,0,170106.020000,401,10.000000,2015.000000,320.000000,2015.000000,True,True,True,False,inf,1.140573e+08

In [56]:
#unique RecKey notices
noticedreceivables.groupby('yearProcess').RecKey.nunique()

yearProcess
2011    49080
2012    52886
2013    48397
2014     2791
2015       25
Name: RecKey, dtype: int64

In [ ]:
#h=merge(e, g, on='RecKey', suffixes=('_o', '_p'), copy=True)
#h['DaysMinPay'] = h['DT_IN']-h['DT_Pay_First']

#transdata['ADJ] = pd.merge(citidata, dfstationdata, on=['start station id', 'start station id'])

In [44]:
#logistic regression


X = transdata['CD_TYPE_ACCT_x']  # we only take the first two features.
Y = transdata['Balance']

h = .02  # step size in the mesh

logreg = linear_model.LogisticRegression(C=1e5)

# we create an instance of Neighbours Classifier and fit the data.
logreg.fit(X, Y)

# Plot the decision boundary. For that, we will assign a color to each
# point in the mesh [x_min, m_max]x[y_min, y_max].
x_min, x_max = X[:, 0].min() - .5, X[:, 0].max() + .5
y_min, y_max = X[:, 1].min() - .5, X[:, 1].max() + .5
xx, yy = np.meshgrid(np.arange(x_min, x_max, h), np.arange(y_min, y_max, h))
Z = logreg.predict(np.c_[xx.ravel(), yy.ravel()])

# Put the result into a color plot
Z = Z.reshape(xx.shape)
plt.figure(1, figsize=(4, 3))
plt.pcolormesh(xx, yy, Z, cmap=plt.cm.Paired)

# Plot also the training points
plt.scatter(X[:, 0], X[:, 1], c=Y, edgecolors='k', cmap=plt.cm.Paired)
plt.xlabel('Sepal length')
plt.ylabel('Sepal width')

plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.xticks(())
plt.yticks(())

plt.show()

ValueError: X and y have incompatible shapes.
X has 1 samples, but y has 5217871.